:root {
    --color-amarillo: #EAC926;
    --color-azul: #03264C;
    --color-celeste: #1259c3;
    --color-gris-osc: #666;
    --color-gris-claro: #ebebeb;
    --color-verde: #39b54a;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: var(--color-gris-claro);
    width: 100%;
}

.d-flex {display: flex;}
.f-wrap {flex-wrap: wrap;}
.fg-1 {flex-grow: 1;}
.fz-12 {font-size: 12px;}
.w-50 {width: 50%;}
.w-100{width: 100%;}
.w-30 {width: 30%;}
.w-70 {width: 70%;}
.f-dir-col {flex-direction: column;}

/*Estilo del header*/
header {
    background-color: var(--color-amarillo);
    min-height: 100px;
    padding: 1px;
}

.header .search {
    width: 100%;
    border-radius: 5px;
}

.fz-12 {font-size: 12px;}

header p i {
    margin-right: 30px;
}

nav.navegacion {display: none;}

ul.links {list-style-type: none;}

div.menu {
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: #0044AA;
    color: white;
    font-size: 20px;;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;  
}

div.menu:hover {
    background-color: #0022AA;
    cursor: pointer;
}


/*Estilo formulario login */

.login {
  margin-left: 10px; 
  margin-right: 10px;
}

.input-forma {
    width: 95%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 0px;
}

.input-btn {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 0px;
}

.login-btn {
    color: white;
    background-color:#0044AA;
}

button:hover {background-color: #0022AA;}

/*Estilo seccion footer*/
footer {
    background-color: white;
}

footer article {
    margin-top: 20px;
    margin-bottom: 20px;
    
}

footer h3 {
    font-size: 24px;
}

footer p {
    font-size: 12px;
}

footer div.foot  {
    color: var(--color-azul);
}

h2.register {
    background-color: white;
    font-size: 24px;
}












