:root {
    --color-amarillo: #EAC926;
    --color-azul: #03264C;
    --color-celeste: #1259c3;
    --color-gris-osc: #666;
    --color-gris-claro: #ebebeb;
    --color-verde: #39b54a;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: var(--color-gris-claro);
    width: 100%;
    box-sizing: content-box;

}

/*Estilo del header*/
header {
    background-color: var(--color-amarillo);
    display: block;
    min-height: 100px;
    padding: 1px;
}

input.buscador {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

header p {
    font-size: 12px;
}

header p i {
    margin-right: 30px;
}

img.logo, input.buscador {
    width: 50%;
}

nav.navegacion {
    display: none;
}

ul.links {
    list-style-type: none;
}

div.menu {
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: #0044AA;
    color: white;
    font-size: 20px;;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;  
}

div.menu:hover {
    background-color: #0022AA;
    cursor: pointer;
}

/*Estilo formulario register */
input.register {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 0px;     
}

button.envio {
    color: white;
    background-color:#0044AA;
}

button.reset {
    color: white;
    background-color: #AA0044;
}

button.reset:hover {
    background-color: #CC1155;
}


h2.register {
    font-size: 24px;
}    

/*Estilo seccion footer*/
footer {
    background-color: white;
}

footer article {
    margin-top: 20px;
    margin-bottom: 20px;
    
}

footer h3 {
    font-size: 24px;
}

footer p {
    font-size: 12px;
}

footer div.foot  {
    color: var(--color-azul);
}


}












